
.button-primary,
.button-success,
.button-error,
.button-warning,
.button-list,
.button-secondary {
    margin: 5px 5px 5px 0px;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    }

.button-primary {
    background: #0078E7;

    /* this is a blue */
    }

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
    }

 .button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
    }

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
    }

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
    }

.button-list {
    background: #AAA;
    color: black;
    /* this is gray */
    }

.uvGreen, .uvRed, .uvYellow {
    padding: 5px;
    border: solid 1px black;
        border-radius: 1px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,1.2);
}

